/* ===============================================================
For all pages
================================================================ */

body{
	margin:0px;
	font-family: sans-serif,Play,Courier,Helvetica;
    background-color: #FAFAFA;
}
h1{
	text-align: center;
	padding-top: 120px; 
	padding-bottom:40px;
	font-size: 1.8em;
    color: #FAFAFA;
    margin:0px;
}
h2{
	text-align: center;
	font-size: 1em;
    color: #FAFAFA;
    margin:0px;

}

/* --------------------------------------------------------------
For all pages header 
-------------------------------------------------------------- */
.navBar{
	height:88px;
	background-color: #7674BB;
    height: 100%;

}

.headerNav{
	list-style-type: none;
    min-width: 910px;
    width: auto;
    margin: 0;
    padding: 25px;
    text-align: right;
}

.headerNav li {
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;

}
#name {
    list-style-type: none;
    padding: 0px 40% 0px 0;
    width: auto;
    text-align: center;
    display: inline-block;
}
.headerNav li a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
    color:#FAFAFA;

}

.headerNav li a:hover{
	box-sizing: border-box;
    color: #FAFAFA;
}

/*
#indexBody li#index a,#cvBody li#cv a,#inspirationBody li#inspiration a,#photoBody li#photo a,#formBody li#form a{ 	
    box-sizing: border-box;
    background-color: lightgrey; 
    font-weight: bold;
}
*/


/* ------projects------ */

/*about*/
.aboutContainer{
    background-image: url('photos/Xiaochuan.JPG');
    background-size: cover;
    background-position: center center;
}
.about{
    background-color: rgba(0, 0, 0, 0.4);
    color: #FAFAFA
    width: 200px;
    height: 700px;
    margin: 0
        
}
.about h1 h2{
    color: #FAFAFA

}
/*
.myPhoto{
    display: inline-block;
    max-width: 100%;
    height: auto;
    
}
*/
.portfolio{
  background-color: #7674BB;

}
#portfolioTitle{
  padding: 30px 0 60px 0;
    text-align: center;
    font-size: 1.8em;
    background-color: #7674BB;
    color:#FAFAFA
}
.proj{
/*  display: inline-block;*/
  width: 500px;
  height: 350px;
  text-align: center;
  background-color: #FAFAFA;
  line-height: 200px;
}

.Vekup{
    background: url(photos/vekup.png);
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.vekupContainer{
    background-color: rgba(0, 0, 0, 0.4);
    width: 500px;
    height: 350px;
}

/* grid */
.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 0;
}

/* --------------------------------------------------------------
For all pages footer 
-------------------------------------------------------------- */
.footerBox{
	background: #7674BB;
	margin-top: 40px;
	height: 100%;
}

.footerNav {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    padding-top:6px;
    text-align: center;
}

.footerBox li {
	display: inline-block;
	padding: 10px 20px 0px;
}
#copyright {
    color:#FAFAFA;
    display: block;
    text-align: center;
    font-size: 0.8em;
    padding: 0px 0px 10px 0px;
}

/* --------------------------------------------------------------
For index 
-------------------------------------------------------------- */
.btn{
    text-align: center;
    text-decoration: none;
}
div.welcome{
    min-width: 910px;
}
/* --------------------------------------------------------------
For illustration 
-------------------------------------------------------------- */

.img{
	display:inline-block;
	overflow: hidden;
    margin-left:auto;
    margin-right:auto;
}

div.img img {
    width: 100%;
    height: auto;
}

@media screen and (min-width:100px) {

}

@media screen and (min-width:550px) {

}

@media screen and (min-width:800px) {

}