.images{display: block;
    
}

.img{display: inline-block;
    padding: 5%;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    text-align: center;
}

.img img{
    height:50%;
}
.coco img{
    width: 50%;
}
.logo img{
    width: 50%;
   
}
body{
    background-image: url(..//images/circles-light.png)
}
