        
.col-sm-6{
    height: 50%
}
.row{
        height: 50%
}
.img{
    display: inline-block;
    padding: 5%;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    text-align: center;
    margin: 0
}

.img img{
    width: 100%;
    height:auto;
}

body{
    background-image: url(..//images/circles-light.png)
}
